{
	"useTabs": false,
	"singleQuote": true,
	"trailingComma": "es5",
    "arrowParens": "always",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
